<div class="container">
    <h1 align="center">CONTACT PAGE</h1>
    <hr>
    <p>
    
    <%= link_to root_path, clas: "text-decoration-none" do %>
        <i class="far fa-address-book"></i>
        <span>HOME</span>
    <% end %>
    </p>
</div>
